#nav
{
width:20%;
height:700px;
background-image:radial-gradient(blue,lime);
float:left;
}
body
{
margin:0px;
}
#flex-container
{
font-size:30px;
color:crimson;
text-transform:uppercase;
list-style-type:none;
align-items:center;
margin-right:20px;
}
a
{
color:crimson;
text-decoration:none;
}
.flex-items
{
padding:40px;
font-weight:bold;
font-style:italic;
}
.flex-items:hover
{
color:black;
background-color:springgreen;
border-radius:50px;
}
a:hover
{
 color:black;
}